html{
	margin: 0px;
	margin: 0px;
}

body{
	background: #95C9B9;
	background-image: url(imagen/logo-login.png);
	background-size: 715px, 715px;
	background-repeat: no-repeat;
	background-position: center 2px;
}

.boxlogin{
	box-shadow: 0px 2px 7px #d6d6d6;
	background: #000;
	margin: 110px auto;
	width: 320px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	color: #fff; 
	opacity: 0.8;
}
input{
	opacity:0.7;
	font-weight:bold;
}

#bot{
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
	 background: #003A55;
	 border: 0px;
	 border-radius: 0px;
	 font-weight:bold;
}

h2 {

	height: 100%;
	width: 100%;
	text-align: center;
	font-weight:bold;
	
}

h1{
	margin-top: 10px;
	text-align: center;
	font-family: Helvetica;
	font-size: 60px;
	color: #fff;
	font-weight:bold;
}

label{
	visibility: visible;
	font-weight:bold;
}
